@import "./variables.scss";
@import "./mixins.scss";


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: inherit;
}

p{
    margin-bottom: 0;
}

ul, li{
    padding: 0;
    margin: 0;
    list-style: none;
}

tr, td {
    white-space: nowrap;
}

body{
    max-width: 440px;
    margin: auto;
    padding: 0 15px;
    font-family: "Inter";
}

/* Header */
header{
    text-align: center;
    padding: 20px;
    color: #000;
}

header h1{
    @include buttonPrimary;
}


.btn{
    background-color: #fff;
    font-weight: 600;
    
    &.btn-primary{
        color: $colorPrimary;
        border-color: $colorPrimary;

        &:hover{
            background-color: $colorPrimary;
            border-color: $colorPrimary;
            color: #fff;
        }
    }
    
    &.btn-danger{
        color: $colorDanger;
        border-color: $colorDanger;
        
        &:hover{
            background-color: $colorDanger;
            border-color: $colorDanger;
            color: #fff;
        }
    }
}

/* Filters */
.filters_form{
    display: none;
}
#filter_checkbox:checked ~ .filters_form{
    display: block;
}

.holder_heading{
    display: flex;
    justify-content: space-between;

    
    .heading_title{
        font-size: 20px;
        font-weight: 600;
        color: #000;
        text-align: left;
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        gap: 10px;
        
        .add_btn{
            height: 30px;
            font-size: 12px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    .sorts_filters{
        display: flex;
        gap: 10px;

        span{
            display: block;
            width: 35px;
            height: 35px;
            border-radius: 10px;
            padding: 4px;
            border: 1px solid $colorPrimary;
            display: grid;
            place-items: center;

            svg{
                width: 15px;
                color: $colorPrimary;
            }

            &.sort_icon{
                svg{
                    transform: rotate(90deg);
                }
            }

            &.active, &:hover{
                background-color: $colorPrimary;
                svg{
                    color: #fff;
                }
            }

            &::after{
                content: none;
            }
        }

        .dropdown-menu{
            background-color: #fff;
            border-radius: 10px;
            padding: 0;
            overflow: hidden;
            min-width: 120px;
            
            li{
                a{
                    padding: 6px 10px;
                    font-size: 14px;
                    font-weight: 600;
                    display: flex;
                    align-items: center;
                    gap: 5px;

                    svg{
                        width: 15px;
                    }
                }
            }
        }
    }
}

.filter_modal{
    .modal-content{
        padding: 20px;
        
        .filter_holder{
            display: flex;
            justify-content: space-between;
            gap: 10px;

            .filter_box{
                flex-basis: 50%;
            }
        }

        .filter_box{
            margin-bottom: 15px;

            .select2{
                display: block;
                border: none;

                .select2-selection{
                    .select2-selection__rendered{
                        .select2-selection__choice{
                            border: 1px solid #999;
                            background-color: $cardLighBlue;
                            border-radius: 6px;
                            font-size: 14px;

                            .select2-selection__choice__remove{
                                border: none;
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
        }

        .filter_actions{
            display: flex;
            gap: 10px;
            justify-content: flex-end;
        }
    }
}



// Toaster
#toast-container{
    top: 10px;

    .toast{
        background-image: none !important;
        padding: 10px;
        opacity: 1;
        text-align: center;
        border-radius: 15px;

        &.toast-success{
            background-color: $colorSuccess;
        }
        &.toast-error{
            background-color: $colorDanger;
        }
        &.toast-info{
            background-color: $colorPrimary;
        }
        &.toast-warning{
            background-color: $colorWarning;
        }

        &:hover{
            box-shadow: 0 0 12px #999999;
        }
    }
}