@import "./../base/variables.scss";

.home_page{
    &.module_holder{
        .holder_heading{
            font-size: 20px;
            font-weight: 600;
            color: #000;
            text-align: left;
            margin-bottom: 20px;
        }
    }
}